body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
    letter-spacing: 1px;
    background-color: #020A18;
}

main {
    background-color: #020A18;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    background-color: #0a121f;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__btn {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    width: 112px;
    height: 52px;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.header__btn:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.header__btn:active {
    background-color: #dc8000;
}

.header__burger {
    width: 56px;
    height: 40px;
    display: none;
}

.header__img {
    margin-left: 20px;
    width: 44.04px;
    height: 57px;
}

.header__inner {
    margin-left: -15px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__title {
    color: #4563a9;
    padding: 15px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 22.5px;
    letter-spacing: 0.7px;
}

.nav {
    padding: 18px;
    margin-right: 130px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    padding-right: 35px;
}

.nav__link:hover {
    color: #fce38a;

}

.intro {
    width: 100%;
    height: 1030px;

    text-align: center;
    padding-top: 150px;

    background-color: #08101d;
    background-size: cover;
    box-shadow: 0 0 30px black;
}

.intro__container {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.intro__inner {
    margin-left: 186px;
    padding-top: 110px;
    width: 600px;
    text-align: start;
}

.intro__title {
    width: 676px;
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.intro__suptitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #3A68B8;
    line-height: 160%;
    font-weight: 600;
    letter-spacing: 2px;
}

.intro__subtitle {
    color: #c7c7c7;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.intro__buttons {
    margin-top: 50px;
    display: flex;
}

.intro__btn {
    width: 171px;
    height: 57px;
    font-size: 18px;
    padding: 15px 30px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.intro__btn:hover {
    background-color: #fff;
    color: black;
    transform: scale(105%);
    transition: .1s;
}

.intro__btn-play {
    width: 217px;
    height: 57px;
    font-size: 18px;
    padding: 15px 30px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.intro__btn-play:hover {
    transform: scale(105%);
    transition: .1s;
    background-color: #fff;
    color: black;
}

.intro__img {
    margin-left: 116px;
}

.lang-btn {
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    width: 72px;
    height: 52px;
    background-color: #dc8000;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.lang-btn:hover {
    transition: .2s;
    color: black;
}

.mode-btn {
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    height: 52px;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0 15px;
    border: 1px solid  #fff;
}



.intro__logos {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    margin-left: 388px;
}

.about {
    width: 100%;
    height: 970px;

    text-align: center;
    padding-top: 130px;

    background-color: #020A18;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    margin-left: 256px;
}

.about__inner img {
    width: 725px;
    height: 669px;
    margin-top: -25px;
    margin-left: -20px;
}

.about__title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.about__subtitle {
    color: #c7c7c7;
    width: 550px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    margin-bottom: 45px;
    letter-spacing: 1px;
    text-align: start;
}

.about__btn {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    width: 150px;
    height: 52px;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

.about__btn:hover {
    transform: scale(105%);
    transition: .1s;
}

.about__text {
    text-align: start;
    margin-top: 180px;
}

.about__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #020A18;
}

.card {
    width: 362px;
    height: 389px;
    background-color: #131b28;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}

.card:hover{
    background-color: #263650;
    transition: .2s;
}


.card_1 {
    width: 362px;
    height: 389px;
    background-color: #131b28;
    text-align: center;
    padding: 65px 30px 30px 30px;
    border-radius: 10px;
    transition: .2s;
}

.card_1:hover{
    background-color: #263650;
}

.about__cards img {
    padding-bottom: 23px;
}

.card__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    padding-bottom: 30px;
    color: #b7b8bc;
}

.card__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #b6bcc3;
}

.dots {
    margin-top: 49px;
    margin-left: 927px;
}

.last {
    width: 100%;

    text-align: center;
    padding: 160px 0 170px 0;

    background-color: #020A18;
}

.last__inner {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 551px;
    margin-left: 387px;
}

.last__inner img {
    width: 642px;
    height: 551px;
    margin-left: 503px;
}

.last__title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 38px;
}

.last__subtitle {
    color: #c7c7c7;
    width: 550px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.last__text {
    text-align: start;
    padding-top: 50px;
    position: absolute;
}

footer {
    letter-spacing: 0.7px;
    background-color: #0a121f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer__inner {
    margin-left: 422px;
    height: 508px;
    margin-top: 7px;
    display: flex;
}

.footer__left {
    margin-right: 36px;
    margin-top: 70px;
}

.footer__left-title {
    font-size: 16px;
    font-weight: 600;
    color: #3A68B8;
    letter-spacing: 0.5px;
}

.footer__left-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #c7c7c7;
    margin-top: 8px;
    margin-bottom: 35px;
    line-height: 18px;
    letter-spacing: 0.1px;
}

.footer__left-contacts {
    font-size: 14px;
    font-weight: 450;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
}

.footer__left-contacts {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 15px;
}

.footer__main {
    margin-top: 66px;
    margin-right: 30px;
}

.footer__main-title {
    width: 165px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 28px;
}

.footer__main-subtitle {
    font-size: 14px;
    font-weight: 450;
    color: #c7c7c7;
    margin-top: 8px;
    margin-bottom: 16px;
}


.footer__right-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 91px;
    margin-bottom: 30px;
    line-height: 25px;
}

.footer__right-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #c7c7c7;
    margin-top: 8px;
    margin-bottom: 27px;
    line-height: 18px;
}

.footer__right-icons {
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.footer__right-contacts {
    font-size: 14px;
    font-weight: 450;
    color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 768px)  {
 
    .header__btn {
        font-size: 16px;
    }

    .header__burger {
        margin-top: 8px;
        display: block;
        margin-left: -155px;
    }

    .header__logo {
        margin-left: 18px;
    }

    .header__img {
        margin-right: 10px;
    }
 
    .nav {
        display: none;
    }
    
    .intro {
        height: 100%;
    }
    
    .intro__container {
        display: block;
    }
    
    .intro__inner {
        padding-top: 0px;
        width: 600px;
        text-align: center;
        margin-left: 0px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .intro__title {
        font-weight: 800;
        width: 620px;
    }
    
    .intro__subtitle {
        width: 100%;
        font-size: 17px;
        font-weight: 600;
    }
    
    .intro__buttons {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .intro__btn {
        margin-right: 40px;
        font-size: 18px;
    }
    
    .intro__btn-play {
        margin-right: 0px;
        font-size: 18px;
    }
    
    .intro__img {
        width: 500px;
        margin-top: 100px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .intro__logos {
        margin-top: 87px;
        width: 100%;
        margin-left: 0px;
        padding: 15px 30px;
    }

    .intro__logos img {
        width: 25%;
    }
    
    .about {
        width: 100%;
        height: 730px;
    }
    
    .about__inner {
        display: flex;
        margin-left: 0px;
        width: 768px;
        justify-content: center;
    }
    
    .about__inner img {
        margin-top: 0px;
        margin-left: 10px;
        width: 360px;
        height: 335px;
    }
    
    .about__title {
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        letter-spacing: 1px;
        margin-left: -20px;
        margin-bottom: 35px;
    }
    
    .about__subtitle {
        font-size: 14px;
        width: auto;
        text-align: center;
        margin-bottom: 90px;
    }
    
    .about__btn {
        margin-left: 110px;
        font-size: 20px;
        margin-top: 15px;
        width: 210px;
        height: 72px;
    }

    .about__text {
        margin-top: -5px;
        margin-left: 0px;
    }
    
    .about__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 50px;
    }
    
    .card {
        text-align: center;
    }
    
    .card_1 {
        display: none;
    }
    
    .dots {
        display: none;
    }
    
    .last {
        margin-top: -38px;
        width: 100%;
        text-align: center;
        padding: 161px 0 0px 30px;
    }
    
    .last__inner {
        width: 100%;
        height: 551px;
        margin-left: 0px;
    }
    
    .last__inner img {
        width: 360px;
        height: 335px;
        margin-left: -200px;
    }
    
    .last__title {
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    
    .last__subtitle {
        width: 550px;
        font-size: 12px;
        letter-spacing: 1.0px;
    }
    
    .last__text {
        text-align: start;
        padding-top: 0px;
        position: relative;
    }
    
    .footer__inner {
        margin-top: 3px;
        margin-left: 30px;
        height: 508px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer__left {
        margin-right: 0px;
        margin-top: 50px;
    }
    
    .footer__left-title {
        font-size: 20px;

    }
    
    .footer__left-subtitle {
        font-size: 14px;
        letter-spacing: 0.6px;
    }
    
    .footer__left-contacts {
        font-size: 16px;
        letter-spacing: 0.8px;
    }
    
    .footer__main {
        display: none;
    }

    .footer__right {
        padding-top: 25px;
        padding-right: 30px;
    }
}

@media (max-width: 321px) {

    .header__title {
        display: none;
    }

    .header {
        padding-top: 0px;
    }

    .header__img {
        margin-left: 15px;
    }

    .header__btn {
        width: 92px;
        height: 42px;
        font-size: 12px;
        margin-right: 90px;
        margin-top: 10px;
    }

    .header__burger {
        margin-top: 18px;
        width: 46px;
        height: 30px;
        margin-right: -10px;
    }
 
    .nav {
        display: none;
    }
    
    .intro {
        height: 100%;
    }
    
    .intro__container {
        display: block;
    }
    
    .intro__inner {
        padding-top: 0px;
        width: 320px;
        text-align: center;
        margin-left: 0px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .intro__suptitle {
        font-size: 12px;
    }

    .intro__title {
        width: 320px;
        letter-spacing: 1px;
        font-size: 20px;
    }
    
    .intro__subtitle {
        display: none;
        font-size: 10px;
        width: 100%;
    }
    
    .intro__buttons {
        padding: 0 35px;
        width: 320px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .intro__btn {
        padding: 5px 15px;
        width: 100px;
        margin-right: 40px;
        font-size: 10px;
        line-height: 15px;
    }
    
    .intro__btn-play {
        padding: 5px 15px;
        width: 100px;
        margin-right: 0px;
        font-size: 10px;
        line-height: 15px;
    }

    .intro__btn-play svg {
        display: none;
    }
    
    .intro__img {
        width: 250px;
        margin-top: 50px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }
    
    .intro__logos {
        margin-top: 30px;
        width: 100%;
        margin-left: 0px;
        padding: 15px 30px;
    }
    
    .about {
        padding-top: 50px;
        width: 100%;
        height: 500px;
    }
    
    .about__inner {
        display: block;
        margin-left: 0px;
        width: 320px;
    }
    
    .about__inner img {
        margin-left: 10px;
        width: 160px;
        height: 135px;
        margin-bottom: 50px;
    }
    
    .about__title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 27px;
        margin-left: 10px;
    }
    
    .about__subtitle {
        font-size: 10px;
        width: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .about__btn {
        padding: 5px 15px;
        width: 100px;
        height: 40px;
        margin-right: 40px;
        font-size: 8px;
    }

    .about__text {
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .about__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 15px;
    }
    
    .card {
        padding-top: 20px;
        text-align: center;
        width: 150px;
        height: 160px;
    }
    
    .card img {
        width: 50px;
        height: 75px;
        padding-bottom: 5px;
    }

    .card__title {
        font-size: 10px;
    }

    .card__subtitle {
        display: none;
    }
    
    .last {
        width: 100%;
        text-align: center;
        padding: 100px 0 0px 20px;
        margin-top: 5px;
    }
    
    .last__inner {
        width: 100%;
        height: 451px;
        margin-left: 0px;
        justify-content: start;
    }

    .last__container {
        width: 100%;
    }
    
    .last__inner img {
        width: 160px;
        height: 135px;
        margin-left: -40px;
    }
    
    .last__title {
        margin-right: 0px;
        width: 120px;
        font-size: 16px;
        letter-spacing: 3px;
        margin-bottom: 43px;
    }
    
    .last__subtitle {
        width: 250px;
        font-size: 8px;
        text-align: start;
    }
    
    .last__text {
        width: 150px;
        text-align: start;
        padding-top: 0px;
        position: relative;
    }
    
    .footer__inner {
        margin-left: 15px;
        height: 308px;
        display: flex;
        justify-content:flex-start;
    }
    
    .footer__left {
        width: 140px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .footer__left img {
        transform: scale(70%);
    }
    
    .footer__left-title {
        font-size: 14px;
    }
    
    .footer__left-subtitle {
        display: none;
    }
    
    .footer__left-contacts {
        font-size: 10px;
    }
    
    .footer__main {
        display: none;
    }

    .footer__right {
        width: 140px;
        padding-top: 25px;
        padding-right: 5px;
    }

    .footer__right-title {
        margin-top: 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .footer__right-subtitle {
        font-size: 8px;
    }

    .footer__right-icons {
        width: 130px;
    }

    .footer__right-icons svg {
        display: none;
    }

    .footer__right-contacts {
        font-size: 8px;
    }
}