body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
    letter-spacing: 1px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    background-color: #0a121f;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__btn {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    width: 112px;
    height: 52px;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
}

.header__btn:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.header__img {
    width: 44.04px;
    height: 57px;
}

.header__inner {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__title {
    color: #4563a9;
    padding: 15px;
    font-weight: bold;
    font-size: 22.5px;
    letter-spacing: 0.7px;
}

.nav {
    padding: 20px;
    margin-right: 100px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    padding-right: 35px;
    transition: 0.2s;
}

.nav__link:hover {
    color: #fce38a;

}

.intro {
    width: 100%;
    height: 947px;

    text-align: center;
    padding-top: 150px;

    background-color: #08101d;
    background-size: cover;
    box-shadow: 0 0 30px black;
}

.intro__container {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.intro__title {
    font-size: 55px;
    color: #fff;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.intro__inner {
    margin-left: 190px;
    padding-top: 110px;
    width: 600px;
    text-align: start;
}

.intro__suptitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #3A68B8;
    line-height: 160%;
    font-weight: 400;
}

.intro__subtitle {
    color: #c7c7c7;
    width: 550px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.intro__buttons {
    margin-top: 50px;
}

.intro__btn {
    font-size: 20px;
    padding: 15px 30px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #3A68B8;
    border: 0;
    border-radius: 5px;
}

.intro__btn:hover {
    transform: scale(105%);
    transition: .1s;
}

.intro__logos {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    margin-left: 388px;
}


